RPC_URL=https://api.devnet.solana.com
KEYPAIR_PATH=./wallet.json
ASSETS_DIR=./assets
COLLECTION_NAME="My Collection"
COLLECTION_SYMBOL="MC"
COLLECTION_DESC="A collection deployed via script"
ROYALTY_PERCENT=5
TOTAL_SUPPLY=10
